In [1]:
import pandas as pd

#required for reading .xml files
import xml.etree.ElementTree as ET

import numpy as np

#required for navigating machine's directory
import glob
import os.path

#required for communicating with SQL database
from sqlalchemy import create_engine

In [2]:
# the postgresql address for SQL base coonection
conn_string = 'postgresql://admin:de300SPRING2024@dd300spring2024.549787090008.us-east-2.redshift-serverless.amazonaws.com:5439/dev'

In [3]:
def insert_to_table(data: pd.DataFrame, table_name:str):
    db = create_engine(conn_string)
    conn = db.connect()
    data.to_sql(table_name, conn, if_exists="replace", index=False)
    conn.close()

In [4]:
all_files = glob.glob('./data/*')

# Output the list of files
for file in all_files:
    print(file)

./data/used_car_prices2.xml
./data/used_car_prices3.json
./data/used_car_prices2.csv
./data/used_car_prices3.xml
./data/used_car_prices1.xml
./data/used_car_prices2.json
./data/used_car_prices3.csv
./data/used_car_prices1.json
./data/used_car_prices1.csv

In [5]:
def extract_from_csv(file_to_process: str) -> pd.DataFrame:
    
    # add you line here to read the .csv file and return dataframe
    return pd.read_csv(file_to_process)

In [84]:
def extract_from_json(file_to_process: str) -> pd.DataFrame:
    
    # add you line here to read the .json file and return dataframe
    return pd.read_json(file_to_process, lines = True)

In [7]:
def extract_from_xml(file_to_process: str) -> pd.DataFrame:
    dataframe = pd.DataFrame(columns = columns)
    tree = ET.parse(file_to_process)
    root = tree.getroot()
    for person in root:
        car_model = person.find("car_model").text
        year_of_manufacture = int(person.find("year_of_manufacture").text)
        price = float(person.find("price").text)
        fuel = person.find("fuel").text
        sample = pd.DataFrame({"car_model":car_model, "year_of_manufacture":year_of_manufacture, "price":price, "fuel":fuel}, index = [0])
        dataframe = pd.concat([dataframe, sample], ignore_index=True)
    return dataframe

In [69]:
def extract() -> pd.DataFrame:
    extracted_data = pd.DataFrame(columns = columns)
    #for csv files
    for csv_file in glob.glob(os.path.join(folder, "*.csv")):
        extracted_data = pd.concat([extracted_data, extract_from_csv(csv_file)], ignore_index=True)
    
    
    #add lines for json files
    for json_file in glob.glob(os.path.join(folder, "*.json")):
        extracted_data = pd.concat([extracted_data, extract_from_json(json_file)], ignore_index=True)
    
    #add lines for xml files
    for xml_file in glob.glob(os.path.join(folder, "*.xml")):
        extracted_data = pd.concat([extracted_data, extract_from_xml(xml_file)], ignore_index=True)
    
    return extracted_data

In [93]:
columns = ['car_model','year_of_manufacture','price', 'fuel']
folder = "data"
#table_name = "car_data"

# run
def main():
    data = extract()
    #insert_to_table(data, "car_data")
    
    return data

data = main()

/tmp/ipykernel_282/1832788487.py:5: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  extracted_data = pd.concat([extracted_data, extract_from_csv(csv_file)], ignore_index=True)
/tmp/ipykernel_282/3387287639.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dataframe = pd.concat([dataframe, sample], ignore_index=True)
/tmp/ipykernel_282/3387287639.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dataframe = pd.concat([dataframe, sample], ignore_index=True)
/tmp/ipykernel_282/3387287639.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dataframe = pd.concat([dataframe, sample], ignore_index=True)

In [94]:
staging_file = "cars.parquet"
staging_data_dir = "staging_data"

def transform(df):
    #db = create_engine(conn_string)

    #df = pd.read_sql_query(f'SELECT * FROM {table_name}',con=db)

    print(f"Shape of data {df.shape}")

    # truncate price with 2 decimal place (add your code below)
    df['price'] = np.trunc(df['price'] * 100) / 100

    # remove samples with same car_model (add your code below)
    df = df.drop_duplicates(subset=['car_model'])
    
    print(f"Shape of data {df.shape}")

    # write to parquet
    df.to_parquet(os.path.join(staging_data_dir, staging_file))

In [98]:
#print the head of your data
transform(data)
print(data.head())

Shape of data (25, 4)
Shape of data (25, 4)
  car_model  year_of_manufacture     price    fuel
0  alto 800                 2017   4253.72  Petrol
1      ciaz                 2015  10223.87  Diesel
3    ertiga                 2015   9104.45  Petrol
4     dzire                 2009   3358.20  Petrol
8   wagon r                 2015   4850.74     CNG

In [97]:
# read from the .parquet file

def load() -> pd.DataFrame:
    data = pd.DataFrame()
    for parquet_file in glob.glob(os.path.join(staging_data_dir, "*.parquet")):
        data = pd.concat([pd.read_parquet(parquet_file),data])

    #insert_to_table(data, table_name)

    return data

data = load()
print(data.shape)

(25, 4)