In [1]:
# Loading required package

import boto3
from io import BytesIO
import pandas as pd

In [3]:
csv_obj = s3.get_object(Bucket=bucket_name, Key=object_key)
body = csv_obj['Body']
csv_string = body.read().decode('utf-8')

In [4]:
df = pd.read_csv(BytesIO(csv_string.encode()))
print(df.head())

   ID           Name  Age         City
0   1       John Doe   28     New York
1   2     Jane Smith   32  Los Angeles
2   3    Emily Davis   45      Chicago
3   4  Michael Brown   22        Miami